.logo {
    color:#2196F3;
}
.logo-header {
    color:#000000;
}
.logo-footer {
    color: #FFFFFF;
}
*{
    text-decoration: none;
    
}
*{ 
    list-style: none;
}
.logo-link,
.logo-header {
    font-family: 'Raleway', sans-serif;
font-weight: 700;
    font-size: 26px;
}
.mail-link,
.contact-phone{
    font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #757575;
}
.header-top{
    background: #FFFFFF;
}


.text{
    background: #F5F5F5;
}
.portfolio-text{
    background: #F5F5F5;
}
.text,
.main-text {
    font-family: 'Roboto', sans-serif;
}


.main-list{
    color: #FFFFFF;
    font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
}
.main-top{
    background-color: #2F303A;
}

.current{
    color: #2196F3;
       font-weight: 500;
        font-size: 14px;
        line-height: 16px;
       
      
    
}
.modal-open{ 
    color: #FFFFFF;
        width: 216px;
        height: 50px;
        left: 692px;
        top: 430px;
        background: #2196F3;
        cursor: pointer;
}
.modal-open:hover,
.modal-open:focus {
width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
 
 .social-link{
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
 }
 .social-links:hover,
 .social-links:focus{
    color: #2196F3;;
    
        
 }
.content{
    color: #212121;
font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.description{
    color: #757575;
    font-weight: 400;
        font-size: 14px;
        line-height: 24px;
}
.main-content{
    color: #212121;
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
}
.team{
    color: #212121;
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
}
.name{
 color: #212121;
font-weight: 500;
    font-size: 16px;
    line-height: 19px;
   text-align: center;
}
.job-title{
    color: #757575;
    font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
}
.main-footer{
    background-color: #2F303A;
}
.link-address{
    color: #FFFFFF;
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
}
.mail,
.tel{
    font-style: normal;
    font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        
    
        letter-spacing: 0.03em;
    
        color: #ffffff99;
}
.text-section{
    color: #212121;
    font-weight: 700;
        font-size: 18px;
        line-height: 36px;
}
.text-body{
    color: #757575;
    font-weight: 400;
        font-size: 16px;
        line-height: 30px;
}
.section-nav{
    color: #212121;
    font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        
    
      
} 
.type{
    background: #2196F3;
}
.type:hover,
.type:focus {
    
    font-weight: 500;
        font-size: 16px;
        line-height: 26px;
       
    
       
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
}     
    
       